* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

p {
  color: white;
}

a {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: rgb(194, 116, 15);
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.info {
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.headline {
  color: white;
  font-size: 52px;
  margin: 0;
}

.description {
  margin: 1em 1em 1em 0em;
}

.main--img img {
  margin: 5em 5em 5em 5em;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 20px solid rgb(231, 229, 229);
  box-shadow: 10px 10px 10px rgba(228, 221, 221, 0.5);
}
.projects {
  display: flex;
  flex-direction: column;
  
  flex: auto;
  align-items: center;
}

.projects--img img {
  width: auto;
  height: 200px;
  border-radius: 25px
}

.example{
  display: flex;
  flex-direction: row;
  margin: 3em;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  background: linear-gradient(270deg, #faa245, #d8328a 37.25%, #753872 100%);

  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
  padding: 20px;
}

.footer {
  display: flex;
  align-items: center;
  
  justify-content:center;
  
  height: 5em;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .projects {
    flex-direction: column;
  }
}
